<div class="container">

  <h1>{{title}}</h1>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/user">User</a>
    </li>
    <li class="nav-item">
      <a routerLink="/role">Role</a>
    </li>
    <li class="nav-item">
      <a routerLink="/telefone">Telefone</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>