<form>
    <hr style="margin-top: 3%" />
    <h3>User form</h3>
    <div class="form-group">
      <label for="exampleInputEmail1">Nome</label>
      <input type="text" [(ngModel)]="user.name" name="name" class="form-control" id="name-id" 
      aria-describedby="name" placeholder="Enter name">
      <small id="emailHelp" class="form-text text-muted">Enter with your name.</small>
      
      <input type="text" [(ngModel)]="user.email" name="email" class="form-control" id="email-id" 
      aria-describedby="email" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">Enter with your email.</small>
    </div>
  
    <button type="submit" (click)="salvar(user)"  class="btn btn-primary">Save</button>
  </form>