<div>
    <h3>Users</h3>
    <a routerLink="/user-form">New User</a>
    <ul *ngFor="let user of users" class="list-group">
      <li class="list-group-item" style="margin-top: 5px;"> {{user.id}} | {{user.name}} </li>
    </ul>
</div>